#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px;
}
#section {
    width:350px;
    float:left;
    padding:10px; 
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}

h1 {
    text-align: center
}

img {
    width:80%;
    padding-bottom:20px;
}

.align {
    text-align: left;
}

.container {
    width: 960;
    margin: 0 auto;
}

nav li a {
    color: green;
}

nav li a:hover {
    color: orange;
}

table {
    border: 2px solid red;
}

.active {
    font-weight: bold;
}

th, td {
    border: 2px solid black;
    padding: 5px;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

table tr:hover {
    background:#A9A9A9;
}